/* GENERALI */

@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  background-color: var(--b-white);
}
img,
picture,
svg {
  display: block;
  max-width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}
a:hover {
  transform: scale(1.1);
}
ul {
  list-style: none;
}
:root {
  --fs-xl: 2.5rem;
  --fs-600: 1.5rem;
  --fs-400: 1.2rem;
}
/* COLORE PRINCIPALE */

:root {
  --base: #7d1535;
  --b-light: #c4899a;
  --b-white: #f5eaed;
  --b-testi: #3d0008;
}
h1 {
  font-size: var(--fs-xl);
  color: var(--b-testi);
}
h2,
h3,
a {
  font-size: var(--b-testi);
}
p,
footer a,
ul {
  font-size: var(--b-testi);
}

/* HAMBURGER MENU */
/* .navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20em;
}
.nav-list {
  display: none;
}
#btn {
  display: block;
  background: none;
  border: none;
  font-size: 2em;
  color: var(--b-testi);
  cursor: pointer;
  margin-right: 20px;
}
nav {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--b-white);
}
.navigation li {
  transition: all ease-in-out 0.3s;
}
.navigation li:hover {
  transform: scale(1.1);
}

.nav-list ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 8rem;
  left: 0;
  width: 100%;
  background-color: #f1edd9;
  padding: 20px 0;
  gap: 0;
  margin: 0;
}
#nav-list.aperto {
  display: flex;
}
#nav-list li {
  padding: 15px 0;
  text-align: center;
} */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}
.button-cta nav {
  display: none;
}
#btn {
  background: none;
  border: none;
  font-size: 2em;
  color: var(--b-testi);
  cursor: pointer;
  margin-right: 15px;
}
.nav-list {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 6.5rem;
  right: 0;
  height: 25%;
  width: 100%;
  padding: 20px 0;
  gap: 0;
  margin: 0;
  list-style: none;
  background-color: var(--b-white);
}
.nav-list li {
  color: var(--base);
  line-height: 3;
  font-size: 1.2em;
}
#nav-list.aperto {
  display: flex;
}
.logo {
  color: var(--base);
}
.logo,
.button-cta {
  transition: all ease-in-out 0.3s;
}
.logo:hover,
.button-cta:hover {
  transform: scale(1.1);
}
.hero-section {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: var(--b-light);
  gap: 20px;
}
.hero-image {
  display: none;
}
.button-cta {
  margin: 20px 10px;
  padding: 7px;
  border-radius: 15px;
  background-color: var(--base);
  width: fit-content;
  color: var(--b-white);
}
#about-section {
  background: var(--b-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  padding: 20px;
  gap: 20px;
  color: #7d1535;
  height: 60vh;
}
ul {
  list-style: var(--base);
}
#services,
#methods,
.experiences {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 20px;
  background-color: var(--b-white);
}
#services h2 {
  color: var(--base);
}
.card-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.item {
  margin: 20px 0;
  padding: 20px;
  line-height: 2.5rem;
  background-color: var(--b-light);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  gap: 20px;
}
.item h3 {
  color: var(--b-testi);
}
.prezzo {
  color: var(--b-testi);
}
#methods h2,
#methods h3 {
  color: var(--base);
}
.methods-container {
  height: 50vh;
  margin: 20px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.lines {
  margin: 10px 0;
  border: 2px solid var(--b-light);
}
.experiences h2 {
  color: var(--base);
}

.experiences-container {
  padding: 40px 0;
  margin: 20px 0;
}
.item-3 {
  background: var(--b-light);
  padding: 30px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
footer {
  background-color: var(--base);
  margin: 20px 0;
  padding: 20px;
  color: var(--b-white);
  margin: 0;
}
footer a {
  text-decoration: underline;
}
address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
.container-footer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.container-footer ul {
  list-style: none;
  font-size: 0.9em;
}
.container-footer a {
  line-height: 3;
}
.item,
.item-2,
.item-3 {
  transition: all ease-in 0.3s;
}
.item:hover,
.item-2:hover,
.item-3:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  /* .hamburger {
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation {
    display: flex;
  }
  .navigation ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    padding: 20px;
  } */
  #about-section {
    padding: 60px;
  }
  .methods-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  :root {
    --fs-xl: 3rem;
    --fs-600: 2.5rem;
    --fs-400: 2rem;
  }
  .hero-section {
    display: flex;
    flex-direction: row-reverse;
  }
  .hero-image {
    display: flex;
    object-fit: cover;
  }
  #about-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .about-image {
    background: var(--base);
    border-radius: 1.5rem;
    height: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
  }
  .about-sil {
    width: 160px;
    height: 250px;
    background: var(--b-light);
    border-radius: 50% 50% 0 0;
    position: relative;
  }
  .about-text {
    line-height: 2;
    width: 40%;
  }
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;

    gap: 80px;
    margin: 2rem;
  }
  .methods-container {
    margin: 2rem;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .item {
    width: 20vw;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
